# Dependencies
node_modules

# Production
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Playwright artifacts
test-results/
tests/e2e-report/

# Editor
.vscode
.idea
.DS_Store

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local
